body{
  font-family: Jost, Inter, Roboto, sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 300;
  background-color: #555566;
}
h1,h2{
  color: #1b1b20;
  font-size: 44px;
  font-weight: 700;
}
a{
  text-decoration: none;
}
.btn{ 
  border: none;
  background-color: #555566;
}
.btn:hover{ 
  background-color: #1b1b20;
}

/* custom css */
.navbar{
  font-family: Jost, Inter, Roboto, sans-serif;
  font-size: large;
  letter-spacing: 0.05vh;
  background:#f2f2f2;
}
.navbar-brand{
  font-size: x-large;
  font-weight: bolder;
}
.navbar .navbar-toggler{
  border: none;
}

/* feature section */
#feature-section{ 
  background-color: #f2f2f2;
  padding-top: 150px;
  padding-bottom: 150px;
  min-height: auto;
}
@media screen and (max-width: 500px) {
  #feature-section{ 
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: auto;
  }
}
@media screen and (max-width: 500px) {
  #about{
    padding-left: 50px;
    padding-right: 50px;
  }
}
#about{
  padding-top: 10px;
  padding-bottom: 10px;
}
#about h1{
  font-family: 'Praise', cursive;
  font-weight: normal;
  font-size: 100px;
  color: #1b1b20;
}
@media screen and (max-width: 992px) {
  #about h1{
    font-size: 62px;
  }
}
@media screen and (max-width: 500px) {
  #about h1{
    font-size: 48px;
    margin-bottom: 0px;
  }
}

#about .lead{  
  color: #282834;
  font-size: x-large;
  font-style: italic;
}
@media screen and (max-width: 500px) {
  #about .lead{  
    font-size: x-large;
  }
}

/* main */
main{
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: #FFF;
  font-size: x-large;
}
main a{
  color: #FFF;
  text-decoration: none;
}
main a:hover{
  color: #FFF;
}

/* YouTube */
#youtube{
  margin-bottom: 150px;
}
@media screen and (max-width: 500px){
  #youtube{
    margin-bottom: 50px;
  }
}
#youtube img{
  border-radius: 10px;
  box-shadow: 4.7px 9.4px 9.4px hsl(0deg 0% 0% / 0.35); 
}
#youtube-description{
  padding: 50px;
}
@media screen and (max-width: 500px){
}

/* Album */
#album{
  margin-bottom: 150px;
}
@media screen and (max-width: 575px){
  #album{
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 575px) {
  #album-row{
    flex-direction: column-reverse;
  }
}
#album img{
  border-radius: 10px;
  box-shadow: 4.7px 9.4px 9.4px hsl(0deg 0% 0% / 0.35); 
}
#album-description{
  padding: 50px;
}

/* Blog */
#blog{
  margin-bottom: 50px;
}
@media screen and (max-width: 500px){
  #blog{
    margin-bottom: 50px;
  }
}
#blog img{
  border-radius: 10px;
  box-shadow: 4.7px 9.4px 9.4px hsl(0deg 0% 0% / 0.35); 
}
#blog-description{
  padding: 50px;
}

/* Books that influcened me */
#books{
  padding-top: 100px;
}
  @media screen and (max-width: 500px){
    #books{
      padding-left: 50px;
      padding-right: 50px;
    }

  }
#book-list h2{
  font-size: xx-large;
}
#book-list .list-group a{
  color: #282834;
}
#book-list .list-group-item{
  background-color: #FFF;
  border: none;
  font-size: large;
}
#books .list-group .fa-solid{ 
  color: #282834;
}

/* contact */
#contact{
  background-color: #f2f2f2;
  color: #282834;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
#contact h2{
  font-size: xx-large;
}


/* footer */
footer{
  background-color: #555566;
  color: #fff;
  text-align: center;
}

/* footnote */
footer{
  font-size: small;
  padding-top: 15px;
}
footer #hosting{
  font-weight: 300;
  opacity: 0.7;
}
footer #hosting a{
  color: #fff;
  text-decoration: none;
}
footer #hosting a:hover{
  color: #f2f2f2;
}
